<?xml version="1.0"?>
<!--
/**
 * ScandiPWA - Progressive Web App for Magento
 *
 * Copyright © Scandiweb, Inc. All rights reserved.
 * See LICENSE for license details.
 *
 * @license OSL-3.0 (Open Software License ("OSL") v. 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\CustomerGraphQl\Model\Customer\ExtractCustomerData"
                type="ScandiPWA\CustomerGraphQl\Model\Customer\ExtractCustomerData"/>
    <preference for="Magento\CustomerGraphQl\Model\Customer\GetCustomer"
                type="ScandiPWA\CustomerGraphQl\Model\Customer\GetCustomer"/>
    <preference for="Magento\CustomerGraphQl\Model\Customer\Address\ValidateAddress"
                type="ScandiPWA\CustomerGraphQl\Model\Customer\Address\ValidateAddress"/>
    <preference for="Magento\CustomerGraphQl\Model\Customer\Address\UpdateCustomerAddress"
                type="ScandiPWA\CustomerGraphQl\Model\Customer\Address\UpdateCustomerAddress"/>
    <preference for="Magento\CustomerGraphQl\Model\Customer\CheckCustomerPassword"
                type="ScandiPWA\CustomerGraphQl\Model\Customer\CheckCustomerPassword"/>
    <preference for="Magento\CustomerGraphQl\Model\Context\AddUserInfoToContext"
                type="ScandiPWA\CustomerGraphQl\Model\Context\AddUserInfoToContext"/>
    <preference for="Magento\Integration\Model\CustomerTokenService"
                type="ScandiPWA\CustomerGraphQl\Model\CustomerTokenService"/>
    <preference for="Magento\CustomerGraphQl\Model\Customer\UpdateCustomerAccount"
                type="ScandiPWA\CustomerGraphQl\Model\Customer\UpdateCustomerAccount"/>
    <preference for="Magento\CustomerGraphQl\Model\Resolver\RevokeCustomerToken"
                type="ScandiPWA\CustomerGraphQl\Model\Resolver\RevokeCustomerToken"/>
    <preference for="Magento\CustomerGraphQl\Model\Resolver\CreateCustomer"
                type="ScandiPWA\CustomerGraphQl\Model\Resolver\CreateCustomer"/>
    <type name="Magento\Catalog\Helper\Data">
        <arguments>
            <argument name="customerSession" xsi:type="object">ScandiPWA\CustomerGraphQl\Model\Session</argument>
        </arguments>
    </type>
</config>
